/* Global Styles */
:root {
	--primary-color: white;
	--dark-color: #2F313A;
	--dark-color-2: #272a36;
	--light-color: #ecc500;
	--margin-color: #D9D9D9;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: var(--dark-color);
	color: var(--primary-color);
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100px;
}

h1 {
	color: var(--primary-color);
	font-size: 3rem;
	font-weight: 700;
}

h2 {
	color: var(--primary-color);
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}

h2 span {
	color: var(--light-color);
}

h3 {
	color: var(--light-color);
	font-size: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
}

p {
	color: var(--primary-color);
	font-size: 1rem;
	font-weight: light;
}

a {
	text-decoration: underline;
	color: var(--primary-color);
	font-size: 1rem;
	font-weight: 700;
}

p a {
	color: var(--light-color);
	font-weight: light;
}

.border-radius {
	border-radius: 8px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.center-h2 {
	text-align: center;
	margin-bottom: 50px;
}

/* button */
.main-btn {
	--glow-color: rgb(217, 176, 255);
	--glow-spread-color: rgba(191, 123, 255, 0.781);
	--enhanced-glow-color: rgb(231, 206, 255);
	--btn-color: rgb(100, 61, 136);
	border: .25em solid var(--glow-color);
	padding: 1rem 2rem;
	text-align-last: center;
	color: var(--glow-color);
	font-size: 15px;
	font-weight: bold;
	background-color: var(--btn-color);
	border-radius: 1em;
	outline: none;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0 0 1em .25em var(--glow-color),
		0 0 4em 1em var(--glow-spread-color),
		inset 0 0 .75em .25em var(--glow-color);
	text-shadow: 0 0 .5em var(--glow-color);
	position: relative;
	transition: all 0.3s;
	width: 180px;
}

.main-btn::after {
	pointer-events: none;
	content: "";
	position: absolute;
	top: 120%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--glow-spread-color);
	filter: blur(2em);
	opacity: .7;
	transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.main-btn:hover {
	color: var(--btn-color);
	background-color: var(--glow-color);
	box-shadow: 0 0 1em .25em var(--glow-color),
		0 0 4em 2em var(--glow-spread-color),
		inset 0 0 .75em .25em var(--glow-color);
}

.main-btn:active {
	box-shadow: 0 0 0.6em .25em var(--glow-color),
		0 0 2.5em 2em var(--glow-spread-color),
		inset 0 0 .5em .25em var(--glow-color);
}

/* nav */
nav {
	display: block;
	width: 100%;
	background-color: var(--dark-color-2);
	border-bottom: 1px solid var(--margin-color);
}

.nav-container {
	display: flex;
	height: 100px;
	align-items: center;
	justify-content: space-between;
	max-width: 1440px;
	margin: auto;
	padding: 0 100px;
}

.logo img {
	height: 32px;
}

.nav {
	display: flex;
	align-items: center;
	gap: 20px;
}

/* hero */
.hero {
	display: block;
	width: 100%;
	margin: auto;
}

.hero-container {
	display: flex;
	max-width: 1440px;
	align-items: center;
	margin: auto;
	padding: 100px;
	gap: 50px;
}

.column {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.column  .main-btn {
	margin-top: 20px;
}

.column img {
	width: 100%;
}

/* main */
.main {
	display: block;
	width: calc(100% - 200px);
	margin: auto;
	border-radius: 2rem;
	padding: 50px 100px;
	background-color: var(--dark-color-2);
	border: 3px solid var(--margin-color);
	max-width: 1440px;
}

.main-content {
	display: flex;
	flex-direction: column;
	gap: 25px;
	text-align: center;
	align-items: center;
}

.main-content .main-btn {
	margin-top: 20px;
}

.main img {
	width: 100%;
}

/* content */
#contents {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	align-items: center;
	margin: auto;
	padding: 100px;
	gap: 50px;
}

/* accordion */
.accordion-item h2 {
	padding: 20px;
	cursor: pointer;
	border-top: 1px solid var(--margin-color);
	text-transform: none;
}

.accordion-item:first-child h2 {
	border-top: none;
}

.accordion-item:last-child h2 {
	border-bottom: none;
}

.accordion-item.open:last-child h2 {
	border-radius: 0;
}

.accordion-item h2::after {
	content: "+";
	float: right;
}

.accordion-item p {
	margin: 0;
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: 0.3s;
}

.accordion-item.open p {
	padding: 0 20px 20px 20px;
}

.accordion-item.open:last-child p {
	border-bottom: 1px solid #ccc;
}

.accordion-item.open h2::after {
	content: "-";
}

/* testimonial */
.testimonial {
	display: flex;
	padding: 50px 100px;
	text-align: center;
	flex-direction: column;
	width: calc(100% - 200px);
	margin: auto;
	gap: 50px;
	box-shadow: inset 0 20px 50px rgba(0, 0, 0, 0.3);
	background-color: var(--dark-color-2);
	border: 3px solid var(--margin-color);
	border-radius: 2rem;
	align-items: center;
	max-width: 1440px;
}

.gallery-item {
	display: inline-block;
	height: 200px;
	margin: 10px;
}

.gallery-image {
	height: 100%;
	border-radius: 8px;
}

/* faq */
#faq {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	margin: auto;
	padding: 100px;
}

/* footer */
footer {
	display: block;
	border-top: 1px solid var(--margin-color);
}

.footer-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: calc(1440px - 50px);
	align-items: center;
	gap: 20px;
	padding: 50px 100px;
	text-align: center;
}

footer img {
	width: 300px;
}

@media screen and (max-width: 1100px) {
	.hero-container {
		flex-direction: column;
	}

	.column {
		width: 100%;
		text-align: center;
		align-items: center;
	}
}

@media screen and (max-width: 980px) {
	.nav {
		display: none;
	}

	nav {
		display: flex;
		align-items: center;
	}
}

@media screen and (max-width: 850px) {
	.hero-container {
		padding: 50px;
	}

	.main {
		width: calc(100% - 100px);
	}

	#contents {
		padding: 50px;
	}

	.testimonial {
		width: calc(100% - 100px);
	}

	#faq {
		padding: 50px;
	}

	.footer-container {
		padding: 50px 50px;
	}
}

@media screen and (max-width: 750px) {
	.testimonial {
		padding: 50px 0;
	}
}

@media screen and (max-width: 550px) {
	h1 {
		font-size: 2rem;
	}

	.hero-container {
		padding: 50px 20px;
	}

	.main {
		width: calc(100% - 40px);
		border-radius: 0;
		border: 1px solid var(--margin-color);
		padding: 25px;
	}

	#contents {
		padding: 50px 25px;
	}

	.testimonial {
		display: none;
	}

	#faq {
		padding: 50px 25px;
	}

	.footer-container {
		padding: 50px 25px;
	}
}